TRANSPORT_HTTP_RUNNING_ADDRESS=":8000"
SHORTENER_ADDRESS="http://localhost:8000/"
# SHORTENER_DATABASE_CHOICE=scylladb
SHORTENER_DATABASE_CHOICE=in-memory
# KEYPOOL_DATABASE_CHOICE=scylladb
KEYPOOL_DATABASE_CHOICE=in-memory

# ScyllaDB cluster config
SCYLLADB_CLUSTER=localhost:9001
SCYLLADB_KEY_RANGE=
SCYLLADB_CLUSTER_ID=1
